* {
  padding: 0;
  margin: 0;
}

:root {
  --first-color: #7fffd3;
  --second-color: #8a7eff;
  --third-color: #ff7f9c;
  --forth-color: #bdff7f;
  --fifth-color: #feb97f;
}
ul {
  padding: 20px;
  list-style: none;
  display: inline-flex;
}
li {
  margin: 0 10px;
  color: white;
}
nav {
  background-color: #333333;
}

.headSection {
  width: 100%;
  height: 50rem;
  background-color: #e8e8e8;
  position: relative;
  margin-bottom: 1rem;
}

h2 {
  margin: 30px;
}
p {
  margin: 30px;
  width: 20rem;
}
.textContainer {
  position: absolute;
  width: fit-content;
  right: 80px;
}
img {
  width: 500px;
  height: 300px;
  box-shadow: 1px 2px 20px black;
}

#img1 {
  position: absolute;
  transform: translate(50%, 50%);
  left: 200px;
  top: 30px;
}
#img2 {
  position: absolute;
  left: 200px;
  top: 30px;
}

.container {
  position: relative;
  width: 50vw;
  height: 50vh;
}

.tringle1 {
  width: 100px;
  height: 100px;
  background-color: var(--first-color);
  border-left: 5px solid black;
  border-bottom: 5px solid black;
  border-radius: 10%;
  position: absolute;
  transform: translate(3rem, 3rem);
}
.tringle2 {
  width: 100px;
  height: 100px;
  background-color: var(--second-color);
  border-left: 5px solid black;
  border-bottom: 5px solid black;
  border-radius: 10%;
  position: absolute;
  transform: translate(10rem, 10rem);
}
.tringle3 {
  width: 100px;
  height: 100px;
  background-color: var(--third-color);
  border-left: 5px solid black;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
  border-radius: 10%;
  position: absolute;
  transform: translate(17rem, 17rem);
}
.tringle4 {
  width: 100px;
  height: 100px;
  background-color: var(--forth-color);
  border-bottom: 5px solid black;
  border-right: 5px solid black;
  border-radius: 10%;
  position: absolute;
  transform: translate(24rem, 10rem);
}
.tringle5 {
  width: 100px;
  height: 100px;
  background-color: var(--fifth-color);
  border-bottom: 5px solid black;
  border-right: 5px solid black;
  border-radius: 10%;
  position: absolute;
  transform: translate(31rem, 3rem);
}
.tringle11 {
  width: 100px;
  height: 100px;
  background-color: var(--first-color);
  border-left: 5px solid black;
  border-bottom: 5px solid black;
  border-radius: 10%;
  position: absolute;
  transform: translate(38rem, 3rem);
}
.tringle22 {
  width: 100px;
  height: 100px;
  background-color: var(--second-color);
  border-left: 5px solid black;
  border-bottom: 5px solid black;
  border-radius: 10%;
  position: absolute;
  transform: translate(45rem, 10rem);
}
.tringle33 {
  width: 100px;
  height: 100px;
  background-color: var(--third-color);
  border-left: 5px solid black;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
  border-radius: 10%;
  position: absolute;
  transform: translate(52rem, 17rem);
}
.tringle44 {
  width: 100px;
  height: 100px;
  background-color: var(--forth-color);
  border-bottom: 5px solid black;
  border-right: 5px solid black;
  border-radius: 10%;
  position: absolute;
  transform: translate(59rem, 10rem);
}
.tringle55 {
  width: 100px;
  height: 100px;
  background-color: var(--fifth-color);
  border-bottom: 5px solid black;
  border-right: 5px solid black;
  border-radius: 10%;
  position: absolute;
  transform: translate(66rem, 3rem);
}
